$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/css3";

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}
$color-base : #607D8B;
$color-50 : #ECEFF1;
$color-100 : #CFD8DC;
$color-200 : #B0BEC5;
$color-300 : #90A4AE;
$color-400 : #78909C;
$color-500 : #607D8B;
$color-600 : #546E7A;
$color-700 : #455A64;
$color-800 : #37474F;
$color-900 : #263238;
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
// Saeid
body{
  background-color: $color-50;
  &.in-login-bg{
    background: url(../images/login-bg.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 0 5001px rgba(59, 183, 80, 0.2);
  }
  .login-wrapper{
    width: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 50%;
    margin-top: -4%;
    background-color: rgba(168, 222, 179, 0.35);
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

}
.logo{
  font-size: 20px
}
.ui.menu.stackable{
  background-color: $color-700;
  color: $color-50;
  .icon:not(.mobile-spotlight){
    font-size: 25px;
    color: $color-50;
  }
  .item::before{
    width: 1px;
    background: $color-600;
  }
}
.radio , .checkbox{
  margin: initial;
}
.ui.checkbox {
  input[type="checkbox"],
  input[type="radio"] {
    top: -4px;
    left: 20px;
  }
}
.selectors{
  width: 30px
}
.ui.menu:not(.vertical) .item.top-header{
   .input.nav-input{
    margin-right: 16px;
  }
}
.body-wrapper.over-slider{
  @include transition(all .5s, color 2s);
  width: 40%;
  position: absolute;
  right: 0%;
  background-color: $color-500;
  padding: 55px 0px 0px 4px;
  top: 0;
  height: 100%;
  box-shadow: -1px 0 42px -4px $color-900;
  z-index: 9999;
  .icon.remove{
    position: absolute;
    left: 0;
    top: 0px;
    color: $color-50;
    font-size: 31px;
    cursor: pointer;
  }
  .table{
    height: 99%;
    width: 100%;
    .table.items-list{
      width: 100%;
    }
    // tbody td ul.cell-container{
    //   width: 100%;
    //   li{
    //     float: left;
    //     width: 50%;
    //     list-style: none;
    //     &:nth-child(2){
    //       width: 30px;
    //       text-align: center;
    //       float: right;
    //       div{
    //         padding: 4px;
    //       }
    //     }
    //   }
    // }
  }
}
tbody td ul.cell-container{
  width: 100%;
  li{
    float: left;
    width: 50%;
    list-style: none;
    &:nth-child(2){
      width: 30px;
      text-align: center;
      float: right;
      div{
        padding: 4px;
      }
    }
  }
}
.body-wrapper.hide-over-slider{
  right: -40%;
}
.ui.page.dimmer.global-spotlight{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color-500 , .7);
  // text-align: center;
  top:0;
  div.sl-container{
    // background-color: rgba($color-500 , .0);;
    position: relative;
    width: 100%;
    height: 20%;
    top: 50%;
    margin-top: -10%;
    div.hider{
      width: 40%;
      background-color: rgba($color-700 , .7);
      height: 100%;
      position: absolute;
      top: 0;
    }
    div.hider:nth-child(1){
      left: 0;
    }
    div.hider:last-child{
      right: 0;
    }
    div.module-icon-wrapper{
      position: absolute;
      width: 100%;
      // font-size: 70px;
      // i{
      //   font-size: 70px
      // }
      // a{
      //   font-size: 30px;
      // }
      i{
        font-size: 84px;
        @include transition(all .5s, color 2s);
        &.selected{
          margin: 0 10%;
        }
      }
    }
  }

}
.module-wrapper{
  width: 500%;
  height: 100%;
  div.scroller{
    // float: left;
    // width: 100%;
    // height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    & > .ui.grid{
      width: 400%;
      // height: 100%;
    }
    .module-container{
      position: relative;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        // background-image: url(../images/1.jpg);
        width: 100%;
        // height: 100%;
        opacity: 0.2;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
      }
      .modules-list{
        width: 100%;
        min-width: 93px;
        a{
          background-color: $color-300;
          color: $color-100;
          @include transition(all .2s ease);
          &:hover{
            background-color: $color-500!important;
            color: $color-200;
          }
        }
      }
      .dashboard-container{
        // padding: 2%;
        h4.divider.header{
          padding: 10px 0;
          font-size: 18px;
          i{
            font-size: 20px;
          }
        }
        .transaction-modules, .profile-modules{
          padding: 0 30px;
          .module-icon.big{
            border: 1px solid gray;
            border-radius: 4px;
            margin-right: 0 2px;  
            padding: 40px 0; 
            text-align: center;
          }
        }
      }
      .action-wrap{
        .dimmer{
          cursor: pointer;
        }
      }
    }
  }
  // .slide-buttons{
  //   bottom: 0;
  //   position: absolute;
  //   text-align: center;
  //   width: 100%;
  //   li{
  //     @include transition(all .2s, color 2s);
  //     float: left;
  //     list-style: none;
  //     margin-right: 10px;
  //     color: $color-800;
  //     height: 30px;
  //     &:hover,&.current{
  //       font-size: 26px;
  //       color: $color-400;
  //       margin-top: -8px;
  //       margin-left: -6px;
  //       margin-right: -1px;
  //     }
  //   }
  // }
}
div.generic-grid{
  tfoot{
    div.pagination{
      margin-top: -4px!important;
    }
  }
}
.main-modules-wrapper {
  padding: 32px!important;
  .each-module{
    @include transition(all .2s ease);
    width: calc(22% - 2px);
    height: 300px;
    text-align: center;
    font-size: 10vw;
    background-color: $color-400;
    box-sizing: border-box;
    padding: 40px;
    float: left;
    margin: 0 1px;
    color: $color-100;
    position: relative;
    overflow: hidden;
    .name{
      font-size: 13px;
    }
    div.subs{
      @include transition(all .2s ease);
      position: absolute;
      font-size: 12px;
      width: 100%;
      left: 0;
      height: 100%;
      background-color: rgba(64, 80, 88, 0.38);
      top:100%;
      box-sizing: border-box;
      ul{
        width: inherit;
        padding: 0;
        overflow: hidden;
        margin-bottom:2px;
        li.each-sub{
          float: left;
          list-style: none;
          width: calc(33.3333% - 2px);
          margin: 0 1px;
          box-sizing: border-box;
          background-color: $color-700;
          height: 80px;
          padding: 16px 24px;
          cursor: pointer;
          .combination-icon{
            color: $color-700;
          }
          &:hover{
            background-color: $color-900;
          }
        }
      }
      div.main-direction{
        height: 80px;
        width: 100%;
        background-color: $color-700;
        box-sizing: box-sizing;
        padding: 20px;
        &:hover{
          background-color: $color-900;
        }
      }
      .corner.icon{
          color: #920000;
        }
    }
    &:hover {
      padding: 0;
      font-size: 4vw;
      float: left;
      & div.subs{
      top: 15%;
      padding: 23px;
      }
      & .name{
      @include transition(all .2s ease);
      }
    }
  }
  .module-drop{
    height: 300px;
    background-color: $color-500;
    color: $color-100;
    width: calc(4% - 2px);
    float: left;
    font-size: 6vw;
    box-sizing: border-box;
    &:hover{
      background-color: $color-600;
    }
    i{
      width: 53px;
    }
  }
}
// tables
table{
  tbody{
    tr{
      @include transition(all .4s ease);
      cursor: pointer;
      &:hover{
        background-color: lighten($color-200 , 10%);
      }
    }
  }
}