<div class="ui ignored negative icon message">
  <i class="Delete icon"></i>
  <div class="content">
    <h3 class="header">Brand Delete</h3>
    <p>You're about to delete below list of brands. </p>
  </div>
</div>
<form class="ui form">
  <div class="ui segment">
    <div ng-repeat="nodes in gridCheckBox track by $index" class="ui labeled button" tabindex="0">
      <div class="ui blue button">
        <i class="delete icon"></i> {{nodes.name}}  
      </div>
      <a class="ui basic blue left pointing label brand-edit-each" ng-click="mouseoverInfo('brand-edit-each-1')">
        <i class="info icon"></i>
      </a>
      <div class="ui fluid popup top left transition">
        <div class="ui one column divided center aligned grid">
          <div class="column">
            <a class="ui white ribbon label">
              <div class="ui toggle checkbox">
                <input type="checkbox" name="gift" tabindex="0" class="hidden" ng-model="validation.brandActive " ng-checked="{{nodes.active}}">
                <label>Active</label>
              </div>
            </a>
            {{nodes.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui button" ng-click="brandDelete()">Delete</div>
  <!-- Description needs to be shown -->

  <!-- 
    Verify button will appear when  (a)multiple brand selected
    the same scenario as delete for verifying purposes

    (if verify already done)
    Approbe vutton shouldn't appear unless (a)multiple brand selected
    Approve approach will be the same as delete



   -->
</form>