<div generic-message></div>
<div generic-table ng-controller="brandModuleController"></div>
<!-- brand OverSlider -->
<div brand-validation></div>
  <div class="body-wrapper over-slider brand" ng-class="{'hide-over-slider': showHideValidation === false}">
        <div  ng-click="overSlider()">
          <i class="icon remove"></i>
        </div>
        <div class="ui segment full-height" id="over-slider" ng-controller="brandModuleController">
          <!-- Brand Add Data -->
            <form class="ui form" ng-show="adding">
              <div class="ui vertical steps stepper"  ng-class="{'hide-stepper': showHideValidation === false}">
                <a class="step" ng-repeat="steps in barbod.brand.stepper track by $index" ng-class="{active: $index === 0 , completed: codeValidation() === true}">
                    <i class="{{steps.icon}} icon"></i>
                    <div class="content">
                      <div class="title">{{steps.title}}</div>
                      <div class="description"></div>
                    </div>
                </a>
              </div>
              <div class="field">
                <label>Code</label>
                <input type="text" ng-model="barbod.brand.code" name="first-name" placeholder="Code No." ng-change="codeValidation()">
              </div>
              <div class="fields">
                <div class="thirteen wide field">
                  <label>Description</label>
                  <input type="text" name="last-name" placeholder="Description" ng-model="barbod.brand.description">
                </div>
                <div class="three wide field">
                  <!-- <div class="ui segment"> -->
                    <div class="ui toggle checkbox">
                      <input type="checkbox" ng-model="barbod.brand.active ">
                      <label>Active</label>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
              <div class="ui big button" ng-disabled="expression" ng-click="addNewBrand()">Save</div>
            </form>
          <!-- Brand Delete Data -->
            <div>
              <div class="ui ignored negative icon message" ng-show="deleting">
                <i class="Delete icon"></i>
                <div class="content">
                  <h3 class="header">Brand Delete</h3>
                  <p>You're about to delete below list of brands. </p>
                </div>
              </div>
              <form class="ui form" ng-show="deleting">
              <div class="floating ui teal label">{{ NoOfItems }}</div>
                <div class="ui segment">
                  <div class="ui labeled button" tabindex="0" ng-repeat="data in editList.list track by $index">
                    <div class="ui blue button"  ng-click="clearEditList(data[0].value)">
                      <!-- <i class="delete icon"></i> {{data[1].value}} -->
                      <!-- <button class="ui red circular icon button">
                        <i class="delete icon"></i>
                      </button> -->
                       {{data[1].value}}
                    </div>
                    <a class="ui basic blue left pointing label brand-edit-each">
                      <i class="info icon"></i>
                    </a>
                    <div class="ui fluid popup top left transition">
                      <div class="ui one column divided center aligned grid">
                        <div class="column">
                          <a class="ui white ribbon label">
                            <div class="ui toggle checkbox">
                              <input type="checkbox" name="gift" tabindex="0" class="hidden">
                              <label>Active</label>
                            </div>
                          </a>
                          test
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-show="showEmptyMessage">
                    <div class="ui header">
                      <i class="big icons">
                        <i class="check circle outline icon"></i>
                        <i class="orange warning corner icon"></i>
                      </i>
                      <div class="content">
                        No item selected from the list.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui button" ng-click="DeleteBrands()" ng-show="deleting">Delete</div>
              </form>
            </div>
        </div>
  </div>
