
    
    <div generic-over-slider  ng-controller="DashboardCtrl"></div>
    <!-- <ul class="module-wrapper">
      <li>
        <div class="module-container">
          test
        </div>
      </li>
      <li>
        <div class="module-container">
          test
        </div>
      </li>
    </ul> -->
    <div class="module-wrapper" ng-controller="DashboardCtrl">
      <div class="scroller">
        <div class="ui grid">
          <div class="four wide column module-container">
            <div class="ui stackable grid">      
              <div class="two wide column">
                <div class="ui secondary vertical pointing menu modules-list">
                  <a class="item">
                    Dashboard
                  </a>
                  <a class="item">
                    Brand
                  </a>
                  <a class="item active">
                    Action No.3
                  </a>
                </div>
              </div>
              <div class="fourteen wide column ">
                <div class="ui ignored positive icon message">
                  <i class="mobile icon"></i>
                  <div class="content">
                    <h3 class="header">Responsive Element</h3>
                    <p ng-bind="messageHandler">Item views are designed to be responsive with images stacking at mobile resolutions.</p>
                  </div>
                </div>
                <div generic-table ></div>
              </div>
            </div>
          </div>
          <!-- <div class="four wide column module-container"></div>
          <div class="four wide column module-container"></div> -->
        </div>
      </div>
      <!-- <div class="slide-buttons">
        <ul>
          <li class="current" ng-click="moduleSlider(0)">
            <i class="square icon"></i>
          </li>
          <li ng-click="moduleSlider(1)">
            <i class="square icon"></i>
          </li>
          <li ng-click="moduleSlider(2)">
            <i class="square icon"></i>
          </li>
          <li ng-click="moduleSlider(3)">
            <i class="square icon"></i>
          </li>
        </ul>
      </div> -->
    </div>
    <!-- <div class="ui page dimmer global-spotlight">
      <div class="sl-container">
        <div class="hider"></div>
        <div class="module-icon-wrapper ui labled icon">
          <i class="fire extinguisher icon"></i>
          <i class="fire icon"></i>
          <i class="gift icon selected"></i>
          <i class="leaf icon"></i>
          <i class="legal icon"></i>
        </div>
        <div class="hider"></div>
    </div> -->