<div class="ui dimmer" id="moduleDimmer">
  <div class="ui massive text loader">Loading</div>
</div>
<div class="column" >
  <div class="ui top attached menu">
    <div class="ui dropdown icon item">
      <i class="wrench icon"></i>
      <div class="menu">
        <div class="item">
          <i class="dropdown icon"></i>
          <span class="text">Module Config</span>
          <div class="menu">
            <div class="item" ng-click="configModal();">Table Config</div>
            <div class="item" ng-click="overSlider();">Add</div>
          </div>
        </div>
      </div>
    </div>
    <div class="right menu">
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" ng-model="barbod.searchText" placeholder="Search in table...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment">
  <button ng-disabled="editMode" class="circular massive green ui icon button" ng-click="overSlider();moduleLocalCalls('adding')">
    <i class="icon add"></i>
  </button>
  <button  ng-class="{ 'huge' : editMode === true}" class="circular massive blue ui icon button" ng-click="editMode = !editMode" ng-show="barbod.editList !== ''">
    <i class="icon edit" ng-class="{'align justify': editMode , 'edit': !editMode}"></i>
  </button>
  <button ng-disabled="editMode" class="circular massive red ui icon button"  ng-show="barbod.editList !== ''" ng-click="overSlider();moduleLocalCalls('deleting')">
    <i class="icon remove"></i>
  </button>
  <table class="ui compact celled striped table">
      <thead>
        <tr>
          <th>
            <div class="ui checkbox">
              <input type="checkbox">
              <label></label>
            </div>
          </th>
          <th ng-repeat="displayname in tableData.GD.columns track by $index"  ng-hide="tableData.GD.columns[$index].name === 'id'">{{tableData.GD.columns[$index].displayname}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="value in tableData.GD.data | filter:barbod.searchText  track by $index" ng-if="tableData.GD.data[$index] != null">
        <!-- ng-click="rowEditMode({{$index}})" -->
          <td class="selectors">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="barbod.editList[tableData.GD.data[$index][0].value]" ng-init="checked=true" ng-click="updateEditList({{$index}})">
              <label></label>
            </div>
          </td>
          <td ng-click="rowEditMode($parent.$index)" ng-repeat="value in tableData.GD.data[$index] track by $index" ng-hide="tableData.GD.data[$parent.$index][$index].name === 'id'">
            <ul  ng-show="!editMode" class="cell-container">
              <li ng-hide="$index === 3">{{tableData.GD.data[$parent.$index][$index].value}}
                <a class="ui left corner label">
                  <i class="heart icon"></i>
                </a>
              </li>
              <div ng-if="$index === 3" class="ui left floated compact">
                <div class="ui fitted toggle checkbox">
                  <input type="checkbox" ng-disabled="!editMode" checked="{{tableData.GD.data[$parent.$index][$index].value}}">
                  <label></label>
                </div>
              </div>
            </ul>
            <div ng-show="editMode" class="ui input focus">
              <input type="text"  value="{{tableData.GD.data[$parent.$index][$index].value}}">
            </div>
        </td>

        </tr>
      <tfoot class="full-width">
        <tr>
          <th colspan="5">
          <div class="ui stackable grid">
            <div class="ten wide column">
              <div class="ui large button" ng-class="{disabled: gridCheckBoxCounter === 0}">
                Verify
              </div>
              <div class="ui large button disabled">
                Approve
              </div>
            </div>
            <div class="six wide column">
              <div class="ui right floated pagination menu">
                <a class="icon item">
                  <i class="left chevron icon"></i>
                </a>
                <a class="item" ng-repeat="i in pageCount track by $index" ng-class="{'current-page' : $index+1 === tableData.GD.currentpage}" ng-click="initData($index+1)">{{ $index+1 }}</a>
                <a class="icon item">
                  <i class="right chevron icon"></i>
                </a>
              </div>
              <div class="ui right floated red large button middle aligned">
                Cancel
              </div>
              
            </div>
          </div>
          </th>
        </tr>
      </tfoot>
      </tbody>
  </table>
  </div>
</div>
<!-- Config Modal Start -->
<div class="ui basic modal" current-module="{{currentModule}}">
  <i class="close icon"></i>
  <div class="header">
    Table Configuration
  </div>
  <div class="image content">
    <div class="image">
      <i class="config icon"></i>
    </div>
    <div class="description">
      <p>Please config your desired data retrieval for loaded table in this Module</p>
    </div>
  </div>
  <div class="ui left action input">
    <button class="ui teal labeled icon button">
      <!-- <i class="cart icon"></i> -->
      Row Per Page
    </button>
    <input type="text" ng-value="tableData.GD.rowsperpage" ng-model="barbod.customize.tableRowSize">
  </div>
  <br>
  <br>
  
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui cancel red basic inverted button">
        <i class="remove icon"></i>
        Cancel
      </div>
      <div class="ui ok green basic inverted button" ng-click="initData(1)">
        <i class="checkmark icon"></i>
        OK
      </div>
    </div>
  </div>
</div>  
<!-- Config Modal Ends -->