<div ng-controller="mainDashboardCtrl">
	<div class="main-modules-wrapper ui centered grid" ng-init="eachModules = dashboardGenerator()">
		<div ng-repeat="eachModule in modules track by $index" ng-show="$index < 4" class="each-module">
			<i class="{{eachModule.icon}} icon"></i>
			<div class="name">{{eachModule.name}}</div>
			<div class="subs">
				<ul>
					<li ng-repeat="subs in eachModule.subAccess track by $index" class="each-sub" ng-click="go('/')">
						<i class="huge icons">
						  <i class="{{subs.icon}} icon" ></i>
						  <i class="corner {{subs.name}} icon combination-icon"></i>
						</i>
					</li>
				</ul>
				<div class="main-direction">
					<i class="huge icons"  ng-click="go('/dashboard/modules')">
						<i class="puzzle icon" ></i>
						<i class="corner share icon combination-icon"></i>
					</i>
				</div>
			</div>
		</div>
		<div class="ui dropdown right pointing module-drop">
			<i class="ellipsis vertical icon"></i>
			<div class="menu">
              <div ng-repeat="eachModule in modules track by $index" ng-show="$index > 4"  class="item" data-value="1">{{eachModule.name}}</div>
              <!-- <div class="ui divider"></div> -->
            </div>
		</div>
		
	</div>
</div>