<!-- Dimmer -->
<div class="ui page dimmer over-slider-validation" ng-class="{'v-error': 1===1}">
  <div class="content">
    <ul>
      <li class="center">
        {{ validation.brandCode }}
      </li>
      <li class="center">
        {{ validation.brandDescription }}
      </li>
    </ul>
  </div>
</div>
<!-- End of Dimmer -->
<div class="body-wrapper over-slider hide-over-slider brand">
      <div  ng-click="closeOverSlider()">
        <i class="icon remove"></i>
      </div>
      <div class="ui segment full-height" id="over-slider">
        <!-- <form class="ui form">
          <div class="field">
            <label>Code</label>
            <input type="text" ng-model="validation.brandCode"
             name="first-name" placeholder="Code No.">
          </div>
          <div class="fields">
            <div class="thirteen wide field">
              <label>Description</label>
              <input type="text" name="last-name" placeholder="Description" ng-model="validation.brandDescription">
            </div>
            <div class="three wide field">
              <div class="ui segment">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="gift" tabindex="0" class="hidden" ng-model="validation.brandActive ">
                  <label>Active</label>
                </div>
              </div>
            </div>
          </div>
          <button class="ui button" type="submit" ng-click="brandAdd()">Submit</button>
        </form> -->
      </div>


    </div>